{% extends "includes/base.html" %}
{% load static %}


{% block specific_meta %}
    <meta name="description" content="Twitter">
    <meta name="keywords" content="Twitter">
    <meta name="author" content="Twitter">
    <title>Twitter</title>
{% endblock %}


{% block specific_css %}
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}
	

 
 

	 
	
	

{% block main_content %}

	
	<div class="row">
		<div class="col-md-12">
			<article class="blog">
				<figure>
					<a href="blog-post.html"><img src="img/blog-1.jpg" alt="">
						<div class="preview"><span>Read more</span></div>
					</a>
				</figure>
				<div class="post_info">
					<small>Category - 20 Nov. 2017</small>
					<h2><a href="blog-post.html">Ea exerci option hendrerit</a></h2>
					<p>Quodsi sanctus pro eu, ne audire scripserit quo. Vel an enim offendit salutandi, in eos quod omnes epicurei, ex veri qualisque scriptorem mei.</p>
					<ul>
						<li>
							<div class="thumb"><img src="img/avatar.jpg" alt=""></div> Admin
						</li>
						<li><i class="ti-comment"></i>20</li>
					</ul>
				</div>
			</article>
			<!-- /article -->
		</div>
		<!-- /col -->
		<div class="col-md-12">
			<article class="blog">
				<figure>
					<a href="blog-post.html"><img src="img/blog-2.jpg" alt="">
						<div class="preview"><span>Read more</span></div>
					</a>
				</figure>
				<div class="post_info">
					<small>Category - 20 Nov. 2017</small>
					<h2><a href="blog-post.html">At usu sale dolorum offendit</a></h2>
					<p>Quodsi sanctus pro eu, ne audire scripserit quo. Vel an enim offendit salutandi, in eos quod omnes epicurei, ex veri qualisque scriptorem mei.</p>
					<ul>
						<li>
							<div class="thumb"><img src="img/avatar.jpg" alt=""></div> Admin
						</li>
						<li><i class="ti-comment"></i>20</li>
					</ul>
				</div>
			</article>
			<!-- /article -->
		</div>		
		<!-- /col -->
	</div>
	<!-- /row -->
{% endblock %}

				
	

		
</body>
</html>