{% extends "includes/base.html" %}
{% load static %}


{% block specific_meta %}
    <meta name="description" content="Twitter">
    <meta name="keywords" content="Twitter">
    <meta name="author" content="Twitter">
    <title>Twitter</title>
{% endblock %}


{% block specific_css %}
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}
	

 
 

	 
	
	

{% block main_content %}

	<input type="hidden" id="load_type" value="latest">
	 
		<ul class="nav nav-tabs" id="tab_checkout" role="tablist">
			<li class="nav-item m-auto" role="presentation">
				<a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#tab_1" role="tab" onclick="$('#load_type').val('latest');dynamic_load()" aria-controls="tab_1" aria-selected="true">Latest</a>
			</li>
			<li class="nav-item m-auto" role="presentation">
				<a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab_2" role="tab" onclick="$('#load_type').val('people');dynamic_load()" aria-controls="tab_2" aria-selected="false" tabindex="-1">People</a>
			</li>
			<li class="nav-item m-auto" role="presentation">
				<a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab_3" role="tab" onclick="$('#load_type').val('media');dynamic_load()" aria-controls="tab_2" aria-selected="false" tabindex="-1">Media</a>
			</li>
		</ul>

		<div class="tab-content checkout">
			<div class="tab-pane fade active show row" id="tab_1" role="tabpanel" aria-labelledby="tab_1">

			</div>
			<div class="tab-pane fade row" id="tab_2" role="tabpanel" aria-labelledby="tab_2">

			</div>
			<div class="tab-pane fade row" id="tab_3" role="tabpanel" aria-labelledby="tab_3">

			</div>
		</div>


	
	
{% endblock %}





{% block specific_js %}

	<script>
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		let search_term = urlParams.get('q');

		if (window.location.hash) {
			search_term = window.location.hash;
		}
		var page = 2;
		var loading = false;
		$(document).ready(function() {
			$(window).scroll(function() {				
				if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
					var search_type = $('#load_type').val();
					if (!loading) {
						loading = true;
						$.ajax({
							url: "{% url 'user:load_more' %}",
							type: 'GET',
							data: {'page': page, 'search_type':search_type, 'q':search_term},
							success: function(data) {
								if (data.tweets_html) {
									if(search_type=='people'){
										$('#tab_2').append(data.tweets_html);										
									}else if(search_type=='media'){
										$('#tab_3').append(data.tweets_html);										
									}else{
										$('#tab_1').append(data.tweets_html);
									}
									page += 1;
									loading = false;
								}
							},
							error: function(xhr, status, error) {
								Swal.fire({
									title: "",
									text: error,
									icon: "error",
								});								
								loading = false;
							}
						});
					}
				}
			});
		});
	</script>

<script>
	function dynamic_load() {
		var search_type = $('#load_type').val();
		$.ajax({
			url: "{% url 'user:load_more' %}",
			type: 'GET',
			data: {'page': 1, 'search_type':search_type, 'q':search_term},
			success: function(data) {
				if (data.tweets_html) {
					if(search_type=='people'){
						$('#tab_2').append(data.tweets_html);										
					}else if(search_type=='media'){
						$('#tab_3').append(data.tweets_html);										
					}else{
						$('#tab_1').append(data.tweets_html);
					}
					loading = false;
				}
			},
			error: function(xhr, status, error) {
				Swal.fire({
					title: "",
					text: error,
					icon: "error",
				});
			}
		});
	}
	dynamic_load();
</script>

	
{% endblock %}
		
</body>
</html>