

{% for product in products %}
<div class="col-6 col-md-4">
    <div class="grid_item">
        <span class="ribbon off">{% percent_discount product.price product.mrp %}</span>
        <figure>
            <a href="{% url 'products:product_detail' product.slug %}">
                {% for image in product.product_images.all|slice:":1" %}
                <img   class="img-fluid lazy lazyload" data-src="{{ image.img.url }}" alt="loading">
                {% endfor %}
            </a>
        </figure>
        <a href="{% url 'products:product_detail' product.slug %}">
            <h3>{{product.name}}</h3>
        </a>
        <div class="price_box">
            <span class="new_price">₹ {{product.price}}</span>
            <span class="old_price">₹ {{product.mrp}}</span>
        </div>
        <ul>
            <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to favorites"><i class="ti-heart"></i><span>Add to favorites</span></a></li>
            <li><a href="{% url 'add_to_cart' product.id %}" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a></li>
        </ul>
    </div>
    <!-- /grid_item -->
</div>
<!-- /col -->

{% endfor %}