
{% load static %}

{% for tweet in tweets %}

    <div class="col-md-12">
        <article class="blog">
            <figure>
                <a href="blog-post.html"><img src="{% static 'img/blog-1.jpg' %}" alt="">
                    <div class="preview"><span>Read more</span></div>
                </a>
            </figure>
            <div class="post_info">
                <small>Category - 20 Nov. 2017</small>
                <h2><a href="blog-post.html">{{tweet.id}}</a></h2>
                <p>Quodsi sanctus pro eu, ne audire scripserit quo. Vel an enim offendit salutandi, in eos quod omnes epicurei, ex veri qualisque scriptorem mei.</p>
                <ul>
                    <li>
                        <div class="thumb"><img src="{% static 'img/avatar.jpg' %}" alt=""></div> Admin
                    </li>
                    <li><i class="ti-comment"></i>20</li>
                </ul>
            </div>
        </article>
        <!-- /article -->
    </div>
    <!-- /col -->


{% endfor %}