{% extends "includes/base.html" %}
{% load static %}
{% load custom_filters %}

{% block specific_meta %}
    <meta name="description" content="Twitter">
    <meta name="keywords" content="Twitter">
    <meta name="author" content="Twitter">
    <title>Twitter</title>
{% endblock %}


{% block specific_css %}
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}
	

 
 

	 
	
	

{% block main_content %}

    <a href="{% url 'home' %}">
        <i class="ti-arrow-left"></i>
    </a>
    <b>{{ user_det.first_name }}</b>
    <p>{{total_tweets|short_number}} posts</p>
	 
	<div class="top_banner">
        {% if not user_det.header_photo %}
        <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.3)" style="background-color: rgba(0, 0, 0, 0.3);">
        </div>
        {% else %}
        <img src="{% static 'img/bg_cat_shoes.jpg' %}" class="img-fluid" alt="">
        {% endif %}

        
    </div>
    
    <div class="profile_div">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="profile_imgg"></div>
                </div>
                <div class="col-6">
                    {% if request.user.username == user_det.username %}
                        <button  class="btn btn-light"  style="float: right;">Edit Profile</button>
                    {% endif %}
                </div>
            </div>
        </div>
        
        
        <h4>{{ user_det.first_name }} {{ user_det.last_name }}</h4>
        <h6>{{ user_det.username }}</h6>
        <p><i class="ti-calendar"></i> Joined {{ user_det.date_joined }}</p>
        <p>{{ user_det.followers.count }} following</p>
		<p>{{ number_of_followers }} followers</p>
        


		<input type="hidden" id="load_type" value="posts">
		<input type="hidden" id="load_page" value="2">
	 
		<ul class="nav nav-tabs" id="tab_checkout" role="tablist">
			<li class="nav-item m-auto" role="presentation">
				<a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#tab_1" role="tab" onclick="$('#load_type').val('posts');$('#load_page').val(2);dynamic_load()" aria-controls="tab_1" aria-selected="true">Posts</a>
			</li>
			<li class="nav-item m-auto" role="presentation">
				<a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab_2" role="tab" onclick="$('#load_type').val('replies');$('#load_page').val(2);dynamic_load()" aria-controls="tab_2" aria-selected="false" tabindex="-1">Replies</a>
			</li>
			<li class="nav-item m-auto" role="presentation">
				<a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab_3" role="tab" onclick="$('#load_type').val('media');$('#load_page').val(2);dynamic_load()" aria-controls="tab_3" aria-selected="false" tabindex="-1">Media</a>
			</li>
			<li class="nav-item m-auto" role="presentation">
				<a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab_4" role="tab" onclick="$('#load_type').val('likes');$('#load_page').val(2);dynamic_load()" aria-controls="tab_4" aria-selected="false" tabindex="-1">Likes</a>
			</li>
		</ul>

		<div class="tab-content checkout">
			<div class="tab-pane fade active show row" id="tab_1" role="tabpanel" aria-labelledby="tab_1">

			</div>
			<div class="tab-pane fade row" id="tab_2" role="tabpanel" aria-labelledby="tab_2">

			</div>
			<div class="tab-pane fade row" id="tab_3" role="tabpanel" aria-labelledby="tab_3">

			</div>
			<div class="tab-pane fade row" id="tab_4" role="tabpanel" aria-labelledby="tab_4">

			</div>
		</div>




    </div>
	

    
	
{% endblock %}





{% block specific_js %}

<script>
	
	var loading = false;
	var main_profile = "{{user_det.id}}";
	$(document).ready(function() {
		$(window).scroll(function() {				
			if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
				var load_type = $('#load_type').val();
				if (!loading) {
					loading = true;
					page = $('#load_page').val();
					$.ajax({
						url: "{% url 'user:load_more_profile' %}",
						type: 'GET',
						data: {'page': page, 'load_type':load_type, 'main_profile':main_profile},
						success: function(data) {
							if (data.return_result_html) {
								if(load_type=='replies'){
									$('#tab_2').append(data.return_result_html);										
								}else if(load_type=='media'){
									$('#tab_3').append(data.return_result_html);										
								}else if(load_type=='likes'){
									$('#tab_4').append(data.return_result_html);										
								}else{
									$('#tab_1').append(data.return_result_html);
								}
								$('#load_page').val(Number(page)+1)
								loading = false;
							}
						},
						error: function(xhr, status, error) {
							Swal.fire({
								title: "",
								text: error,
								icon: "error",
							});								
							loading = false;
						}
					});
				}
			}
		});
	});
</script>

<script>
function dynamic_load() {
	var load_type = $('#load_type').val();
	
	$.ajax({
		url: "{% url 'user:load_more_profile' %}",
		type: 'GET',
		data: {'page': 1, 'load_type':load_type, 'main_profile':main_profile},
		success: function(data) {
			if (data.return_result_html) {
				if(load_type=='replies'){					
					$('#tab_2').html(data.return_result_html);										
				}else if(load_type=='media'){
					$('#tab_3').html(data.return_result_html);										
				}else if(load_type=='likes'){
					$('#tab_4').html(data.return_result_html);										
				}else{
					$('#tab_1').html(data.return_result_html);
				}
				loading = false;
			}
		},
		error: function(xhr, status, error) {
			Swal.fire({
				title: "",
				text: error,
				icon: "error",
			});
		}
	});
}
dynamic_load();
</script>

		
{% endblock %}
		
</body>
</html>